dgl==0.5.3
karateclub==1.0.22
Keras==2.0.2
networkx==2.5
numpy==1.19.4
pandas==1.2.0
scikit-learn==0.24.0
scipy==1.5.2
seaborn==0.11.1
tensorflow==2.4.0
torch==1.7.1
torch-cluster==1.5.8
torch-geometric==1.6.3
torch-scatter==2.0.5
torch-sparse==0.6.8
torch-spline-conv==1.2.0
torchaudio==0.7.2
torchvision==0.8.2
node2vec==0.4.1
deepwalk==1.0.3